<div jqm>
    <div data-role="header" data-position="fixed" data-theme="b" >
        <h1>Login</h1>
    </div>
	<div class="margentopo">
	<form>
	<img src="login.png" class="center" width="50%">
	<input  type="email" placeholder="Email" ng-model="user.email">
	<input type="password" placeholder="Senha"   ng-model="user.senha">
	<button id='clicando' ng-click="save(user)" data-icon="user"  >Login</button>
	</form>
	</div>
	<a data-role="button" class="mbpv" data-role="button" data-icon="plus" href="#/insert">Cadastro</a>
	
    
</div>